:root {
    --text-color: #49464F;
    --text-color-2:  #2E2C34;
    --cube:cubic-bezier(0.4, 0, 0.2, 1)
}

/* reset */

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h4, h1, h2, h3, p{
    margin: 0;
}

.link {
    text-decoration: none;
}

html{
    box-sizing: border-box;
}
  html *, ::after, ::before{
    box-sizing: inherit;
}

.is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* style */

body {
    font-family: 'Roboto';
    color: var(--text-color);
    line-height: 1;
}

.container {
    padding-right: 165px;
    padding-left: 118px;
    max-width: 1280px;
    margin: 0 auto;
}
/* header */

.header-cont {
    display: flex;
    align-items: center;
    max-width: 1280px;
    padding: 15px 40px 0;
    margin: 0 auto;
}

.logo-svg {
    margin-right: 478px;
}

.nav-menu {
    display: flex;
}

.header-btn {
    background-color: #7140EB;
    border-radius: 999px;
    border-color: transparent;
    padding: 11px 51px 12px;
    margin-left: 50px;

    font-size: 18px;
    color: #FFFFFF;
}

.nav-menu-item-link {
    font-size: 18px;
    color: #FFFFFF;
}
/* want to know more? */

.know-more {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #F5F5F7;;
}

.know-more-container {
    padding-right: 160px;
    display: flex;
    gap: 202px;
}

.know-more-title {
    margin-top: 116px;
    margin-bottom: 53px;
    font-size: 67px;
    color: var(--text-color-2);
    width: 235px;
    line-height: 1;
}

.more {
    display: block;
    padding-left: 5px;
}

.know-more-btn {
    border: 1px solid var(--text-color-2);
    background-color: transparent;
    width: 180px;
    height: 39px;
    border-radius: 999px;
}

.know-more-list {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.know-more-list-item {
    position: relative;
    padding-left: 45px;
    font-size: 21px;
    line-height: 1.2;
    color: var(--text-color-2);
}

.know-more-list-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 17px;
    width: 17px;
    background-image: url(../img/plus.svg#plus);
}

/* members */

.members {
    padding-top: 68px;
    padding-bottom: 73px;
}
.members-title {
    font-size: 66px;
}
.members-list {
    display: flex;
    gap: 134px;
    margin-top: 98px;
}
.members-list-item-1{
    width: 246px;
}
.members-list-item-2{
    width: 256px;
}
.members-list-item-3{
    width: 227px;
}
.members-list-item-1  .text, .members-list-item-3  .text{
    margin-bottom: 19px;
}
.members-list-item-2  .text{
    margin-bottom: 47px;
}
.text {
    font-size: 28px;
}
.parahraf {
    font-size: 17px;
    line-height: 1.4;
}